<h2>Workload Summary Report</h2>
<table class="table table-bordered">
  <tr>
    <th rowspan="2">Course</th>
    <th rowspan="2">Course Name</th>
    <th colspan="5" class="text-center">Number of</th>
    <th rowspan="2">Number of assessments</th>
    <th rowspan="2">Total Effort Hours</th>
  </tr>
  <tr>
    <th>Homework</th>
    <th>Quizes</th>
    <th>Project Phases</th>
    <th>Midterm Exams</th>
    <th>Final Exam</th>
  </tr>
  {{#courseSummaries}}
    <tr>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>{{Homework}}</td>
      <td>{{Quiz}}</td>
      <td>{{Project}}</td>
      <td>{{Midterm}}</td>
      <td>{{Final}}</td>
      <td>{{assessmentCount}}</td>
      <td>{{effortHours}}</td>
    </tr>
  {{/courseSummaries}}
</table>

<div class="row col-md-4 col-md-offset-4 text-center">
  <canvas id="effortHoursChart" width="100" height="100"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="views/js/workload.js"></script>
